<template name="manageSchedule">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Create New Load</h5>
            <div class="ibox-tools">
                <a class="collapse-link" href="#">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link" href="">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" >
            {{>Wizard steps=steps onCanceled=oncanceled onFinished=onfinished}}
        </div>
    </div>

</template>
    <template name="pickup">

    {{>quickForm schema='Schema.Pickup' preserveForm=false  doc=this buttonContent=false id='puf'}}

</template>

<template name="dropOff">
 {{>quickForm schema='Schema.DropOff' preserveForm=false doc=this buttonContent=false id='dof' }}
</template>
<template name="memo">
    <h2>Extra Information</h2>
    {{>quickForm schema='Schema.Memo' preserveForm=false omitFields='price'  doc=this buttonContent=false id='mf' }}

</template>

<template name="memoCustom">
    {{#autoForm schema='Schema.Memo' preserveForm=false doc=this id='mf' }}
        {{>afQuickField name='shipmentTitle'}}
        {{>afQuickField name='specs.type'}}
        {{>afQuickField name='specs.volumeType'}}
        <div class="{{hasDoors}}">
            {{>afQuickField name='specs.doors'}}
        </div>
        {{>afQuickField name='specs.weight'}}
        <div class="box-vol {{isBoxed}}" >
            <div class="col-sm-3">
                {{>afQuickField name='specs.boxedVolume.length'}}
            </div> <div class="col-sm-3">
            {{>afQuickField name='specs.boxedVolume.width'}}
        </div> <div class="col-sm-3">
            {{>afQuickField name='specs.boxedVolume.height'}}
        </div>
            <div class="col-sm-3">
                {{>afQuickField name='specs.boxedVolume.metric'}}
            </div>
        </div>
        <div class ="liquid-vol {{isLiquid}}">
            <div class="col-sm-6">
                {{>afQuickField name='specs.liquidVolume.value'}}
            </div>
            <div class="col-sm-6">
                {{>afQuickField name='specs.liquidVolume.metric'}}
            </div>
        </div>
        {{>afQuickField name='memo'}}
    {{/autoForm}}
</template>