<template name="scheduleDetail">

    <div id="schedule-detail">
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                    <div class="row pull-right">
                                       <!-- {{#unless showManageBid}}-->

                                           &nbsp;&nbsp;
                                      <!--  {{/unless}}-->

                                            <a href="{{pathFor 'scheduleList'}}" style="color: inherit" class=" close-bid">
                                                <span class=" glyphicon gly glyphicon-remove"></span>
                                            </a>

                                    </div>

                                <h2>{{shipmentTitle}}<span class="small">-{{wayBill}}</span></h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt> <dd><span class="label {{formatStatus status}}">{{status}}</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>Pickup Date:</dt> <dd>{{tm_locale pickupDate}}</dd>
                                <dt>Pickup Location:</dt> <dd>{{pickupLocation.address}}</dd>
                                <dt>Pickup Client:</dt> <dd>{{sender}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>DropOff Date:</dt> <dd>{{tm_locale dropOffDate}}</dd>
                                <dt>DropOff Location:</dt> <dd>{{dropOffLocation.address}}</dd>
                                <dt>DropOff Client:</dt> <dd>{{receiver}}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row " >
                        <div class="col-lg-12 ">

                            <dl class="dl-horizontal" >
                                <dt >Bids</dt>

                                    <dd >

                                            {{#unless totalBids}}
                                                <p class="text-center gray-bg">
                                                    {{#unless canManageBid}}
                                                    <small class="no-bid-warning"><i class="fa fa-warning"></i> There are currently no bids on this load</small>
                                                    {{else}}
                                                <a href="{{pathFor 'newBid'}}">
                                                <small class="no-bid-warning"><i class="fa fa-warning"></i> There are currently no bids on this , click here to add your bid!</small>
                                                </a>
                                                {{/unless}}
                                                </p>
                                            {{else}}
                                            <a href="{{pathFor 'bidList'}}" >
                                                {{totalBids}} Bid(s)
                                            </a>
                                                &nbsp;
                                                 <span  {{Rp_allow 'canEditbid,canManagebid'}}>
                                                     {{#unless bid}}
                                                         <a href="{{pathFor 'newBid'}}" class="btn btn-primary btn-xs place-bid">
                                                             Place a bid
                                                         </a>
                                                     {{else}}
                                                         {{#with bid}}
                                                             <a href="{{pathFor 'bidDetail'}}" class="btn btn-primary btn-xs place-bid">
                                                                 View my bid
                                                             </a>
                                                         {{/with}}
                                                     {{/unless}}

                                                 </span>
                                            {{/unless}}
                                    </dd>

                            </dl>

                        </div>

                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            {{>comments doc=this comments=this.comments formId='scheduleCommentsForm'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>