<template name="scheduleList">
    {{#unless canInsert}}
        {{>pageHeader title='Loads' }}
        {{else}}
        {{>pageHeader title='Loads' btnTitle='create new Load' link='newSchedule'}}
    {{/unless}}
    {{#if this.length}}
    {{#each this}}
        <div class="col-md-4">

            {{>scheduleItem}}
        </div>
    {{/each}}
    {{else}}
    <h2>No items found!</h2>
    {{/if}}

</template>
<template name="scheduleItem">
    <div class="ibox ">
        <div class="ibox-title">
            <span class="label {{formatStatus state}}">{{state}}</span>&nbsp;

            <span class="small" {{Rp_allow 'canViewbidList'}} {{visibleWhen status 'new'}} >&nbsp;|&nbsp;<a href="{{pathFor 'bidList'}}">
                {{bidCount}} bid(s)</a> </span>


            <span class="small ">&nbsp;|&nbsp;<a href="#" >{{messages.length}}<i class="fa fa-comments"></i> </a> </span>

            <div class="ibox-tools" >
                <!--<a href="{{pathFor 'viewSchedule'}}"  class="label {{formatStatus status}} manage-bid">{{status}}</a>-->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                    <a href="{{pathFor 'viewSchedule'}}">View</a>

                    <a href="{{pathFor 'editSchedule'}}" {{Rp_allow "canEditLoad,canManageLoad"  }}>Edit Load</a>


                    <a href="#" class="duplicate-load" {{Rp_allow 'canEditLoad,canManageLoad'}}>Duplicate Load</a>

                    {{>schedule_actions item=this}}
                    </li>
                </ul>
                <a class="remove-schedule" href="">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div  class="ibox-content {{_id}}">
            <a href="{{pathFor 'viewSchedule'}}" class="manage-bid" style="color: inherit">
                <h5>{{shipmentTitle}}-<span class="small">({{wayBill}})</span></h5>
            <address>
                <span class="fa fa-user"></span>: Pickup from {{sender}}<br/>
                <span class="fa fa-clock-o"></span>:{{>dateFormatter date=pickupDate}}
                            <br>
                <span class="fa fa-map-marker"></span>: {{pickupLocation.address}}<br>
            </address>
            </a>
            <a href='#' id="toggleSchedule" class="btn btn-primary btn-xs"><i class="fa fa-arrow-down"></i> Dropoff for...</a>
            <!--<span class="icon">
             <i class="fa fa-arrow-circle-up "></i>
            </span>-->
        </div>

        <div  style="display:none" class="ibox-content {{_id}}">
            <a href="{{pathFor 'viewSchedule'}}" class="manage-bid" style="color: inherit">
                <h5>{{shipmentTitle}}-<span class="small">({{wayBill}})</span></h5>

            <address>
                <span class="fa fa-user"></span>: Dropoff for {{receiver}}<br/>
                <span class="fa fa-clock-o"></span>: {{>dateFormatter date=dropOffDate}}<br>
                <span class="fa fa-map-marker"></span>: {{dropOffLocation.address}}<br>
            </address>
            </a>
            <a href='#' id="toggleSchedule" class="btn btn-primary btn-xs"><i class="fa fa-arrow-up"></i> Pickup from...</a>
            <!--<span class="icon">
             <i class="fa fa-arrow-circle-down "></i>
            </span>-->
        </div>

    </div>
</template>
