<template name="scheduleList">
    {{#unless canInsert}}
        {{>pageHeader title='Schedules' }}
        {{else}}
        {{>pageHeader title='Schedules' btnTitle='create new schedule' link='newSchedule'}}
    {{/unless}}

    {{#each this}}
        <div class="col-md-4">

            {{>scheduleItem}}
        </div>
    {{/each}}

</template>
<template name="scheduleItem">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>{{wayBill}}-<span class="small">{{tm_now pickupDate}}</span></h5>
            <span></span>


            <div class="ibox-tools" >

                <a href="{{pathFor 'viewSchedule'}}"  class="label {{formatStatus status}} manage-bid">{{status}}</a>

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{pathFor 'editSchedule'}}">Edit Schedule</a>
                    </li>
                    <li><a href="#">Close Schedule</a>
                    </li>
                </ul>
                <a class="remove-schedule" href="">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div  class="ibox-content {{_id}}">
            <a href="{{pathFor 'viewSchedule'}}" class="manage-bid" style="color: inherit">
            <h5><strong>Pickup from {{sender}}</strong></h5>
            <address>
                <span class="fa fa-clock-o"></span>: {{tm_cal pickupDate}}<br>
                <span class="fa fa-map-marker"></span>: {{pickupLocation.fullAddress}}<br>
            </address>
            </a>
            <a href='#' id="toggleSchedule" class="btn btn-primary btn-xs"><i class="fa fa-arrow-down"></i> Dropoff for...</a>
            <!--<span class="icon">
             <i class="fa fa-arrow-circle-up "></i>
            </span>-->
        </div>

        <div  style="display:none" class="ibox-content {{_id}}">
            <a href="{{pathFor 'viewSchedule'}}" class="manage-bid" style="color: inherit">
            <h5><strong>Dropoff for {{receiver}}</strong></h5>
            <address>
                <span class="fa fa-clock-o"></span>: {{tm_cal dropOffDate}}<br>
                <span class="fa fa-map-marker"></span>: {{dropOffLocation.fullAddress}}<br>
            </address>
            </a>
            <a href='#' id="toggleSchedule" class="btn btn-primary btn-xs"><i class="fa fa-arrow-up"></i> Pickup from...</a>
            <!--<span class="icon">
             <i class="fa fa-arrow-circle-down "></i>
            </span>-->
        </div>

    </div>
</template>
