<template name="comments">
    <div class="chat-view">

        <div>
            <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
            <h4>Comments/Questions</h4>
        </div>
            {{#if this.insertDoc}}
                <div class="row">
                    <div class="col-lg-12">
                            {{>commentControl formId='newCommentForm' doc=this.insertDoc }}
                    </div>
                </div>
            {{/if}}
            <br>
            {{#if this.comments.length}}
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="chat-discussion">

                            {{#each this.comments}}
                                {{>messageItem}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
    </div>
</template>

<template name="messageItem">
    <div class="chat-message left">
        {{>imageControl collection='eZImages' class='message-avatar' photo=owner.profile.photo}}
        <!--<img  src="{{photo}}" alt="">-->
        <div class="message">
                {{>identity owner=owner}}
            <span class="message-date"> {{tm_cal createdAt}} </span>
               <span class="message-content">
                   {{message}}
               </span>
        </div>
    </div>
</template>

<template name="identity">
    {{#with owner}}
        <a class="message-author" href="{{pathFor 'profile'}}">{{identity this}} </a>
    {{/with}}
</template>

<template name="commentControl">
    <div class="chat-message-form">
        {{>quickForm id=this.formId type='normal' doc=this.doc buttonClasses="pull-right btn-primary btn btn-xs"
        buttonContent="Post Comment"  schema='Schema.Message'}}
    </div>
</template>