<template name="imageControl">
    {{#if photoId}}
        {{#with FS.GetFile collection photoId}}
            {{#if this.isImage }}
                <img class="{{../class}}" height="{{../height}}" width="{{../width}}" src="{{this.url }}" alt="profile image">
            {{else}}
                <img class="{{../class}}" height="{{../height}}" width="{{../width}}" src="{{photoPlaceHolder}}" alt="alternate text">
            {{/if}}
        {{/with}}
    {{else}}
        <img class="{{class}}" height="{{height}}" width="{{width}}" src="{{photoPlaceHolder}}" alt="alternate text">
    {{/if}}
</template>