<template name="chooseDriverModal">
    {{#modal title="Choose Driver"}}
    {{#autoForm id='chooseDriverForm' schema='Form.Driver'}}
        {{> afQuickField  name='driver' type="selectize" selectize=driverSelectize }}
    {{/autoForm}}
        {{>modalfooter}}
    {{/modal}}
</template>
<template name="chooseDriverItem">
    <div class="chat-user">
       {{>imageControl class='chat-avatar' collection='eZImages' photo=this.photo}}
        <div class="chat-user-name">
            <a href="#">{{this.firstname}} {{this.lastname}}</a>
        </div>
    </div>
</template>