<!--<template name="afFancyCheck">

    <div class="checkbox checkbox-{{atts.class}}">

        <input type="checkbox" value="true" {{atts}} />
        <label for="{{atts.id}}">{{afFieldLabelText name=this.name}}</label>
    </div>

</template>-->

<template name="afFancyCheckboxGroup">
    <div class="af-checkbox-group" {{dsk}}>
        {{#each this.items}}
            <div class="aw_checkbox {{checkClass}}"><input id="{{this._id}}" type="checkbox" value="{{this.value}}" {{atts}} />
                <label for="{{this._id}}">
                    {{this.label}}
                </label>
            </div>
        {{/each}}
    </div>
</template>