<template name="deliveryDetail">
    <div id="delivery-detail">
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-content">
                    {{#with this}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <div class="row pull-right" style="margin-right:1%">
                                <!-- {{#unless showManageBid}}-->

                                    &nbsp;&nbsp;
                                        <!--  {{/unless}}-->
                                    <a href="{{pathFor 'manageDelivery' _id=schedule shipmentTitle=scheduleItem.shipmentTitle }}" style="color: inherit" class=" edit-request">
                                        <span class=" glyphicon gly glyphicon-pencil"></span>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="{{pathFor 'scheduleList' }}" style="color: inherit" class=" close-bid">
                                        <span class=" glyphicon gly glyphicon-remove"></span>
                                    </a>

                                </div>

                                <div><h2> {{scheduleItem.shipmentTitle}}<!--<span class="small">-{{wayBill}}</span>--></h2>
                                    <span class="label {{formatStatus scheduleItem.state}}">{{scheduleItem.state}} </span> <!--&nbsp;&nbsp;
                                    <span>{{>schedule_actions item=this hideBids=canManageBid btnClasses="btn btn-xs btn-primary"}}</span>--></div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <dl class="dl-horizontal" >
                                <dt>Delivery Notes: </dt>
                                <dd >
                                    <p class="small">{{this.note}}</p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    {{#if Dfiles.length}}
                        <div class="row">
                            <div class="col-lg-12 ">

                                <dl class="dl-horizontal" >
                                    <dt >files: </dt>
                                    <dd >
                                        <ul class="tag-list" style="padding: 0">
                                            {{#each Dfiles}}
                                                <li><a href="{{this.url}}"><i class="fa fa-file"></i> {{this.name}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </dd>
                                </dl>

                            </div>

                        </div>
                    {{/if}}
                        <div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    {{#with toBeRated}}
                                        <dt>{{ownerItem.role}} Rating :</dt>
                                        <dd>
                                            {{>ratingIndicator id=_id link="manageRating" class="btn btn-xs btn-primary" value=average size='lg'
                                            description="rating performance on transaction"}}
                                        </dd>
                                    {{/with}}
                                </dl>
                            </div>
                        </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="ratingPills">
    
</template>