<template name="afArrayField_wizard_files">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}

                    <a class="btn btn-xs btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="glyphicon glyphicon-plus"></span> add new file</a>

                {{/if}}
            </div>
            <h3 class="panel-title">{{afFieldLabelText name=this.atts.name}}</h3>

        </div>
        <div class="panel-body">
            <div class="row">
                {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                    {{#if afFieldIsInvalid name=this.atts.name}}
                        <span class="help-block has-error">{{{afFieldMessage name=this.atts.name}}}</span>
                    {{/if}}

                        <div class="col-md-4" style="min-height:140px;">
                            <div class="col-md-1">
                                {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                                    <button class=" btn btn-xs  btn-primary autoform-remove-item">
                                        <span class=" glyphicon glyphicon-trash"></span>
                                    </button>
                                    <!--<button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>-->
                                {{/if}}
                            </div>
                            <div class="col-md-11">
                                {{> afQuickField name=this.name label=false options=afOptionsFromSchema}}
                            </div>

                        </div>

                {{/afEachArrayItem}}
            </div>
        </div>
    </div>

    <!--<div class="panel panel-default">
        <div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
        {{#if afFieldIsInvalid name=this.atts.name}}
            <div class="panel-body has-error">
                <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
            </div>
        {{/if}}
        <ul class="list-group">
            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <li class="list-group-item autoform-array-item">
                    <div>
                        <div class="autoform-remove-item-wrap">
                            {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                                <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
                            {{/if}}
                        </div>
                        <div class="autoform-array-item-body">
                            {{> afQuickField name=this.name label=false options=afOptionsFromSchema}}
                        </div>
                    </div>
                </li>
            {{/afEachArrayItem}}

        </ul>
    </div>-->
</template>