<template name="agile_board">
    {{#unless canInsert}}
        {{>pageHeader title='Loads' }}
    {{else}}
        {{>pageHeader title='Loads' btnTitle='create new Load' link='newSchedule'}}
    {{/unless}}
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-content">
                <h3>New Jobs</h3>
                {{>jobListItem items=newJobs}}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-content">
                <h3>In Progress</h3>
                {{>jobListItem items=inProgressJobs}}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-content">
                <h3>Completed</h3>
                {{>jobListItem items=completeJobs}}
            </div>
        </div>

    </div>

</template>

<template name="jobListItem">
    <ul class="sortable-list connectList agile-list ui-sortable">
        {{#each items}}
            {{>jobItem}}
        {{/each}}
    </ul>
</template>
<template name="jobItem">
    <li class="{{formatElement state}} work-item">
        <span class="label small {{formatStatus state}}" style="margin-bottom: 5px;">{{state}}</span>
        <br/><br/>
        <small><i class="fa fa-bell"></i>{{latestActivity.title}} - {{summarizeText latestActivity.description 30}} </small>
        {{#if latestMessage}}
         <br/><br/>
            <small><i class="fa fa-comment"></i> {{summarizeText latestMessage.message 30}} </small>
        {{/if}}
        <div class="agile-detail">

            {{>schedule_actions item=this hideBids=canManageBid btnClasses="pull-right btn btn-xs btn-primary"}}
            <i class="fa fa-clock-o"></i>
            {{#if updatedAt}}
                {{tm_cal updatedAt}}
            {{else}}
                {{tm_cal createdAt}}
            {{/if}}
        </div>

    </li>
</template>