<template name="manageSchedule">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Create New Load</h5>
            <div class="ibox-tools">
                <a class="collapse-link" href="#">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link" href="">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" >
            {{>Wizard steps=steps onCanceled=oncanceled onFinished=onfinished}}
        </div>
    </div>

</template>
    <template name="pickup">

    {{>quickForm schema='Schema.Pickup' preserveForm=false  doc=this buttonContent=false id='puf'}}

</template>

<template name="dropOff">
 {{>quickForm schema='Schema.DropOff' preserveForm=false doc=this buttonContent=false id='dof' }}
</template>
<template name="memo">
    <h2>Extra Information</h2>
    {{>quickForm schema='Schema.Memo' preserveForm=false omitFields='price'  doc=this buttonContent=false id='mf' }}

</template>

<template name="memoCustom">

    {{#autoForm schema='Schema.Memo' preserveForm=false doc=this id='mf' }}

        {{>afQuickField name='shipmentTitle' }}

        {{>afQuickField name='typeOfGood' options=goodTypes}}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse"  href="#weightPanel" aria-expanded="true" class=""><i class="fa fa-chevron-circle-up"></i>Weight</a>

                </h3>
            </div>
            <div id='weightPanel' class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="col-sm-9">
                        {{>afQuickField name='specs.weight.value'}}
                    </div>

                    <div class="col-sm-3">
                        {{>afQuickField name='specs.weight.metric'}}
                </div>
                </div>
            </div>
        </div>

        <div class=" box-vol {{isBoxed}}" >
        {{#panel title='Dimensions'}}
            <div class="col-sm-3">
                {{>afQuickField name='specs.boxedVolume.length'}}
            </div> <div class="col-sm-3">
            {{>afQuickField name='specs.boxedVolume.width'}}
        </div> <div class="col-sm-3">
            {{>afQuickField name='specs.boxedVolume.height'}}
        </div>
            <div class="col-sm-3">
                {{>afQuickField name='specs.boxedVolume.metric'}}
            </div>
        {{/panel}}
        </div>

        <div class ="liquid-vol {{isLiquid}}">
        {{#panel title='Volume'}}
            <div class="col-sm-6">
                {{>afQuickField name='specs.liquidVolume.value'}}
            </div>
            <div class="col-sm-6">
                {{>afQuickField name='specs.liquidVolume.metric'}}
            </div>
        {{/panel}}
        </div>
        <div class=" form-group memo-field">
            {{>afQuickField name='maximumBidPrice'}}
        </div>
        <div class=" form-group memo-field">
            {{>afQuickField name='memo.notes'}}
        </div>
        <div class="form-group files">
                {{>afQuickField  name='memo.files' }}
        </div>
    {{/autoForm}}

</template>