<template name="payAsYouGo">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Upgrade</h3>
                    <p>Upgrade now to enjoy all EazyTrucker's features</p>
                    {{>quickForm  type="normal" id="upgradeForm" schema='Form.UpgradePlan' buttonContent="upgrade"}}
                </div>
                <div class="col-sm-6"><h4>Pay As You Go</h4>
                    <p>pay $10 for this transaction</p>
                    <a href="#" class="pay-as-go btn btn-primary">Pay $10</a>
                </div>
            </div>
        </div>
    </div>
</template>