<template name="paymentList">
    <div class="ibox">
        <!--<div class="ibox-title">
            <div class="ibox-tools">
                <a href="#" class="btn btn-xs btn-primary add-new-card">add new card</a>
            </div>
        </div>-->
        <div class="ibox-content">
            <table id="paymentList" class="footable table table-striped toggle-arrow-tiny default breakpoint">
                <thead><tr>
                    <th data-toggle="true" class="footable-visible footable-first-column">description</th>
                    <th data-hide="tablet,phone">amount</th>
                    <th data-hide="tablet,phone">date</th>
                    <th data-hide="tablet,phone">status</th>

                </tr></thead>

                {{#each payments}}
                    {{>paymentItem}}
                {{/each}}
            </table>
        </div>
    </div>

</template>

<template name="paymentItem">
    <tr>
        <td>{{description}}</td>
        <td>{{amount}}</td>
        <td>{{tm_cal date}}</td>
        <td>{{status}}</td>
    </tr>
</template>