<template name="manageProfile">
    <div class=" manageProfile">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Manage Profile </h5>
            </div>
            <div class="ibox-content">
                <div class="row">

                    {{#autoForm schema='Schema.Profile' id='profileForm'   type='normal'   buttonContent=false  doc=this.profile }}
                        <div class="col-md-6">
                            {{> afQuickField name='companyName'}}
                        </div>
                        <div class="col-md-6">
                            {{> afQuickField name='companyAddress'}}
                        </div>

                        <div class="col-md-6">
                            {{> afQuickField name='firstname'}}
                        </div>
                        <div class="col-md-6">
                            {{> afQuickField name='lastname'}}
                        </div>

                        <div class="col-md-6">
                            {{> afQuickField name='emails'}}
                        </div>
                        <div class="col-md-6">
                            {{> afQuickField name='telephones'}}
                        </div>
                        {{#if this.profile.truckAuthorityType}}
                            {{>truckAuthorityControl col_class="col-md-6"}}
                        {{/if}}
                        <div class="col-md-6">
                            {{> afQuickField name='bio'}}
                        </div>
                        <div class="col-md-6">
                            {{> afQuickField name='photo'}}
                        </div>
                        <div class="col-md-12 ">
                            <button type="save" class="pull-right btn btn-primary ">Update</button>
                        </div>
                    {{/autoForm}}
                </div>

            </div>
        </div>
    </div>


</template>
