<template name="profileDetail">
<div class="col-lg-12">

    {{#with info}}
        {{#if canEditProfile this._id}}
            <a href="{{pathFor 'manageProfile' }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit profile</a>
        {{/if}}

            <div class="row m-b-lg m-t-lg">
                <div class="col-md-8">
                    <div class="col-md-6  m-b-lg">

                        <div class="profile-image">
                            {{>imageControl class="img-circle circle-border m-b-md" transform="-/scale_crop/128x128/center/"  uuid=this.profile.photo}}
                        </div>
                        <div class="profile-info">
                            <div class="">
                                <div>
                                    <h2 class="no-margins">
                                        {{fullname}}
                                    </h2>
                                    <h4>{{role}}</h4>
                                    <h5>Authorization</h5>
                                    {{>serviceCeritfication profile=this height=128 width=128 }}
                                    <small>
                                        {{bio}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="no-margins">Performance</h2>
                        {{>rp_view_rating size="lg" query=ratingListQuery}}
                        {{>rp_rating_count query=ratingListQuery}}
                    </div>



                    <div class="col-md-12">
                        {{>rp_rating_list query=ratingListQuery}}
                    </div>



                </div>

                <div class="col-md-4">
            <h2 class="no-margins">Breakdown</h2>
            {{>rp_rating_detail  stats}}
       </div>


    </div>


    {{/with}}

</div>

</template>
