<template name="profileDetail">
<div class="col-lg-12">
    {{#if canEditProfile this._id}}
        <a href="{{pathFor 'manageProfile' }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit profile</a>
    {{/if}}

    {{#with info}}
        <div class="col-lg-4">
        <div class="ibox float-e-margins">

            {{#with this.profile}}
                <div>
                    <div class="ibox-content no-padding">

                        {{>imageControl class='img-responsive' collection='eZImages' photoId=photo }}
                        <!--image implementation here!-->
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>{{firstname}} {{lastname}}</strong></h4>
                        {{> starsRating size='lg'  rating=4}}
                        <strong><i class="fa fa-phone"></i> Telephones:</strong>
                        <p>
                            {{#each telephones}}
                                <!--<i class="fa fa-phone"></i>--> {{this}} |
                            {{/each}}
                        </p>
                        {{#if emails.length}}
                            <strong><i class="fa fa-envelope"></i> Emails:</strong>
                            <p>
                                {{#each emails}}
                                    {{this}} |
                                {{/each}}
                            </p>
                        {{/if}}
                        {{#if addresses.length}}
                            <strong>Addresses:</strong>
                            <p>
                                {{#each addresses}}
                                    <i class="fa fa-map-marker"></i>{{fullAddress}}<br>
                                {{/each}}
                            </p>
                        {{/if}}
                        <strong>Certification:</strong>
                        <p>
                            {{>serviceCeritfication size=54 profile=this}}
                        </p>
                        <h5>
                            About me
                        </h5>
                        <p>
                            {{bio}}
                        </p>

                    </div>
                </div>
            {{/with}}
        </div>
    </div>
    {{/with}}
    <!--<div class="col-lg-8">
        <div class="ibox float-e-margins">
            {{>userStats}}
        </div>
    </div>-->
</div>

</template>
