<template name="truckList">
    {{>pageHeader title='Trucks' btnTitle='create new truck' link='addTruck'}}
    {{#each this}}
        {{>truckItem}}
    {{/each}}
    {{#if canLoadMore}}
        {{>loadMore}}
    {{/if}}
</template>
<template name="truckItem">
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title mb">
                <h5>{{title}}</h5>
                {{#if policyState}}
                 <span class="label label-danger">{{policyState}}</span>
                {{/if}}
                {{#if availableState}}
                    <span class="label label-primary">{{availableState}}</span>
                 {{else}}
                    {{#if matches.length}}
                        <a href="{{pathFor 'filteredSchedules' status=matches hash='_id' }}"
                           style="text-decoration:none;color:inherit;font:inherit;">
                        <span class="label label-success">{{matches.length}} matches</span>
                        </a>
                    {{/if}}
                {{/if}}
                <div class="ibox-tools" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i> actions
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            {{>truckActions}}
                        </li>
                    </ul>

                </div>
            </div>

            <div  class="ibox-content {{_id}}">
                <a href="{{pathFor 'viewTruck'}}" class="manage-bid" style="color: inherit">
                    <address class="text-center">
                        <strong>{{description}}</strong><br>
                        <span>({{goodsTypeInfo}})</span>
                    </address>
                </a>

            </div>



        </div>
    </div>
</template>

