<template name="main">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> sidebar }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">


            <!-- Page wrapper -->
            {{> topNavbar }}
            <div class="wrapper wrapper-content animated fadeInUp">
            <!-- Main view  -->
                <div class="row">
                    {{> yield}}
                </div>
            </div>
            <!-- Footer -->
            {{> footer }}
            <!-- Right Sidebar -->
            {{> rightSidebar }}


        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

</template>
<!--<template name="main">
    <div id="wrapper">
        {{>sidebar}}
        <div id="page-wrapper" class="gray-bg">
            {{>header}}

            <div class="row">

                <div class="col-lg-12 body-content-wrapper">

                    <div class="wrapper wrapper-content animated fadeInUp">

                        {{>yield}}

                    </div>


                </div>
            </div>
            {{>footer}}

        </div>

    </div>

</template>-->


    <!-- Mainly scripts -->
    <!--<script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    &lt;!&ndash; Custom and plugin javascript &ndash;&gt;
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <script>
        $(document).ready(function(){

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script>-->



