<template name="sidebar">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        ET+
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> <span class="nav-label">My Dashboard</span><span class="fa arrow"></span></a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar-o"></i> <span class="nav-label">My Schedules</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="table_basic.html">list</a></li>
                        <li><a href="table_data_tables.html">Calender</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope-o"></i> <span class="nav-label">Messages</span><span class="fa arrow"></span></a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-list"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>

                </li>

            </ul>

        </div>
    </nav>
</template>