<template name="sidebar">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                {{#with currentUser}}
                    <li class="nav-header">
                    <div class="dropdown profile-element"> <span>

                            <object class="img-circle" data="{{photo}}" >
                                <img class="img-circle" src="{{photoPlaceHolder}}" alt="alternate text">
                            </object>
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{fullname}}</strong>
                             </span> <span class="text-muted text-xs block">{{role}}<b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor 'profile'}}">Profile</a></li>
                            <!--<li><a href="contacts.html">Contacts</a></li>-->
                            <!--<li><a href="mailbox.html">Mailbox</a></li>-->
                            <li class="divider"></li>
                            <li class="logout"><a href="#">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        ET+
                    </div>
                </li>
                {{/with}}
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> <span class="nav-label">My Dashboard</span><!--<span class="fa arrow"></span>--></a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar-o"></i> <span class="nav-label">My Loadboard</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{pathFor 'scheduleList'}}">All loads</a></li>
                        {{#each links}}
                            {{#if this.children}}
                                <li  {{Rp_allow this.permissions}} ><a href="#"><span class="nav-label">{{this.title}}</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                {{#each this.children}}
                                    <li  {{Rp_allow this.permissions}}><a href="{{pathFor 'filteredSchedules'}}">{{this.status}}</a></li>
                                {{/each}}
                                </ul>
                                </li>
                                {{else}}
                                <li {{Rp_allow this.permissions}}><a href="{{pathFor 'filteredSchedules'}}">{{this.title}}</a></li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </li>
                <!--<li>
                    <a href="{{pathFor 'contactList'}}"><i class="fa fa-users"></i> <span class="nav-label">Contacts</span>&lt;!&ndash;<span class="fa arrow"></span>&ndash;&gt;</a>

                </li>-->
                <li>
                    <a href="#"><i class="fa fa-archive"></i> <span class="nav-label">My Assets</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {{Rp_allow 'canViewTruck,canManageTruck'}}><a href="{{pathFor 'truckList'}}"><i class="fa fa-truck"></i>Trucks</a></li>
                        <li {{Rp_allow 'canManageUsers'}}><a href="{{pathFor 'userList'}}"><i class="fa fa-users"></i>Users</a></li>
                        <!--<li><a href="{{pathFor 'contactList'}}"><i class="fa fa-book"></i>Contacts</a></li>-->
                    </ul>
                </li>
                <!--<li>
                    <a href="#"><i class="fa fa-envelope-o"></i> <span class="nav-label">Messages</span><span class="fa arrow"></span></a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-list"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>

                </li>-->

            </ul>

        </div>
    </nav>
</template>