<template name="bidList">
    {{#unless canInsert}}
        {{>pageHeader title='Bids' }}
    {{else}}
        <div class="ibox">
            <div class="ibox-title">
                <h5>Bids</h5>
                <div class="ibox-tools">
                    {{#unless hasBid}}
                        <a href="{{pathFor 'newBid' _id=schedule }}" class="btn btn-primary btn-xs">create new Bid</a>
                    {{else}}
                        {{#with hasBid}}
                        <a href="{{pathFor 'bidDetail'}}" class="btn btn-primary btn-xs">manage my Bid</a>
                        {{/with}}
                    {{/unless}}
                    <a class="search-link">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>

        </div>
    {{/unless}}

    <div class="bidList">
        {{#each this}}
            {{>bidListItem}}
        {{/each}}
    </div>
</template>
<template name="bidListItem">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">

                    <a {{Rp_allow 'canAcceptBid'}} href="#" class="accept-bid btn btn-primary btn-xs ">Accept bid</a>
                </div>

                <h2 class="no-margins pull-left">${{qoute}}</h2>
                {{#if messages.length}}&nbsp;&nbsp;
                <span>{{messages.length}}<i class="fa fa-comments"></i></span>
                {{/if}}
            </div>
            <a href="{{pathFor 'bidDetail'}}" >
                <div class="ibox-content ibox-heading">
                    <h3>Latest Activity!</h3>
                    <small><i class="fa fa-bell"></i> {{notification.message}} {{tm_now notification.createdAt}}</small>
                </div>
            </a>
            <div class="ibox-content">
                <!--<div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a5.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a>
                </div>-->

               <!-- <h4>Latest Activity</h4>
                <p>
                    {{notification.message}}
                </p>-->
                <!-- <div>
                     <span>Status of current project:</span>
                     <div class="stat-percent">48%</div>
                     <div class="progress progress-mini">
                         <div style="width: 48%;" class="progress-bar"></div>
                     </div>
                 </div>-->
                <div class="row  m-t-sm ">
                    <div class="col-sm-6">
                        <div class="font-bold">Bidder</div>
                        {{>identity owner=bidder}}
                        <!--include a rating widget here-->
                    </div>
                    <!--<div class="col-sm-3">
                        <div class="font-bold">Price</div>
                        ${{rate}}.00
                    </div>-->
                    <div class="col-sm-6 text-right">
                        <div class="font-bold">Authorization</div>
                        {{>serviceCeritfication size=16 profile=bidder}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>