<template name="bidList">
    {{#unless canInsert}}
        {{>pageHeader title='Bids' }}
    {{else}}
        <div class="ibox">
            <div class="ibox-title">
                <h5>Bids</h5>
                <div class="ibox-tools">
                    {{#unless hasBid}}
                        <a href="{{pathFor 'newBid' _id=schedule }}" class="btn btn-primary btn-xs">create new Bid</a>
                    {{else}}
                        {{#with hasBid}}
                        <a href="{{pathFor 'bidDetail'}}" class="btn btn-primary btn-xs">manage my Bid</a>
                        {{/with}}
                    {{/unless}}
                    <a class="search-link">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>

        </div>
    {{/unless}}

    <div class="bidList">
        {{#each this}}
            {{>bidListItem}}
        {{/each}}
    </div>
</template>
<template name="bidListItem">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    {{>acceptBidActions}}
                </div>
                <h2 class="no-margins pull-left">${{quote}}</h2>
            </div>
            <a href="{{pathFor 'bidDetail'}}" >
                <div class="ibox-content ibox-heading">
                    <h4>Latest Activity!</h4>
                    <small>
                        {{#if latestActivity}}
                            <span class="pull-right"> {{tm_now latestActivity.createdAt}}</span><i class="fa fa-bell"></i>
                            {{summarizeText latestActivity.description 30}}
                        {{/if}}
                    </small>

                </div>
            </a>
            <div class="ibox-content">
                <div class="row  m-t-sm ">
                    <div class="col-sm-6">
                        <div class="font-bold">Bidder</div>
                        {{>identity owner=bidder}}
                        <!--include a rating widget here-->
                    </div>
                    <!--<div class="col-sm-3">
                        <div class="font-bold">Price</div>
                        ${{rate}}.00
                    </div>-->
                    <div class="col-sm-6 text-right">
                        <div class="font-bold">Authorization</div>
                        {{>serviceCeritfication size=16 profile=bidder}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>