<template name="manageBid">
    <div class="col-lg-9">
        <div class="ibox">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="m-b-md">
                            <div class="pull-right">
                                {{#unless _id}}
                                    <a href="{{pathFor 'viewSchedule' _id=schedule._id}}" style="color: inherit" class=" close-bid">
                                        <span class=" glyphicon gly glyphicon-remove"></span>
                                    </a>
                                    {{else}}
                                    <a href="{{pathFor 'bidDetail'}}" style="color: inherit" class=" close-bid">
                                        <span class=" glyphicon gly glyphicon-remove"></span>
                                    </a>
                                {{/unless}}
                            </div>
                            <h2>My Bid for <a href="{{pathFor "viewSchedule" _id=schedule._id}}">{{schedule.shipmentTitle}}</a></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                    {{#autoForm id="placeBidForm" doc=this schema="Schema.Bid"}}
                        <fieldset>
                            <div class="form-group{{#if afFieldIsInvalid name='quote'}} has-error{{/if}}">
                                <label class="control-label">Quote {{#if schedule.maximumBidPrice}}<small>  max bid quote: ({{schedule.maximumBidPrice}})</small>{{/if}}</label>
                                <div class="input-group">
                                    <div class="input-group-addon">$ </div>
                                    {{> afFieldInput name='quote' placeholder="Enter quote" }}
                                </div>
                                {{#if afFieldIsInvalid name='quote'}}
                                    <span class="help-block">{{afFieldMessage name='quote'}} </span>
                                {{/if}}
                            </div>
                       <!-- {{>afQuickField name="quote"}}-->

                                {{>timeFrame title="Pickup Date" context='schedule.pickupDate.context' dateField_1='schedule.pickupDate.dateField_1' dateField_2='schedule.pickupDate.dateField_2'}}
                                {{>timeFrame title="DropOff Date" context='schedule.dropOffDate.context' dateField_1='schedule.dropOffDate.dateField_1' dateField_2='schedule.dropOffDate.dateField_2'}}

                            {{>afQuickField name="schedule._id"}}
                            {{>afQuickField name="schedule.maximumBidPrice"}}
                            {{>afQuickField name="schedule.owner"}}
                            {{>afQuickField name="schedule.shipmentTitle"}}

                        </fieldset>
                            <button type="submit" class="btn btn-primary btn-xs pull-right">Place bid</button>
                    {{/autoForm}}
                    </div>

                    <!--{{>quickForm type='normal' schema="Schema.Bid" omitFields='messages' buttonClasses="btn btn-primary btn-xs pull-right"
                    buttonContent="Place Bid"}}-->
                </div>
            </div>
        </div>
    </div>
</template>