<template name="registerSimple">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div>
                    <div class="col-md-12">
                        <div>
                            <img src="/img/ezlogo4.png" alt="Eazytrucke logo"/>
                        </div>
                        <p>Create account to see it in action.</p>
                        <div class="m-t text-justify" >
                            {{#autoForm schema='Form.RegisterSimple' type='normal'  id='registerSimpleForm'}}
                                {{>afQuickField name='accountType'}}
                                {{>afQuickField name='fullName' }}
                                {{>afQuickField name='email'}}
                                {{>afQuickField name='referredBy'}}
                                <div class="form-group">
                                    <div class="checkbox checkbox-success checkbox-circle">
                                        <input id="checkbox-accept-terms" type="checkbox" >
                                        <label for="checkbox-accept-terms">
                                            <small> I have <a href="#" class="showDisclaimer">read and accept the terms</a> of use of EazyTrucker</small>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button  class="btn btn-primary btn-block full-width m-b" type="submit">Register</button>
                                </div>
                            {{/autoForm}}
                            <!--{{>quickForm schema='Form.RegisterSimple'  id='registerForm' type='normal'
                            buttonClasses='btn btn-primary btn-block full-width m-b' buttonContent='Register'}}-->
                            <p class="text-muted text-center"><small>Already have an account?</small></p>
                            <a class="btn btn-sm btn-white btn-block" href="{{pathFor 'atSignIn'}}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>