<template name="dashboard">
    {{#if numbers.length}}
        {{#if doughnut.datasource.length}}
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Requests</h5>
                        {{>rp_morris_chart type=doughnut.type options=doughnut.options
                        datasource=doughnut.datasource delay=doughnut.delay}}
                    </div>
                </div>
            </div>
        {{/if}}
            {{#each numbers}}
                {{>numberItem}}
            {{/each}}
        {{else}}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">

                        <h2><span class="text-navy">Welcome {{currentUser.fullname}}</span> - This is your <span class="text-navy">dashboard</span>
                            and it <span class="text-navy">lights up</span>
                            once you start using <span class="text-navy">Eazytrucker</span> to manage your shipments and loads.</h2>


                    </div>
                </div>
            </div>
        </div>
    {{/if}}

</template>

<template name="numberItem">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-content">
                <h5>{{title}}</h5>
                <h1 class="no-margins">{{value}}</h1>
                <span class="pull-left font-bold text-navy"> <i class="glyphicon glyphicon-stats"></i></span>&nbsp;
                <small>{{description}}</small>
            </div>
        </div>
    </div>
</template>