<template name="userList">
    {{>pageHeader title='Users' btnTitle='create new user' link='newUser'}}


            <div class="row">

                        {{#each this}}
                            {{>userItem}}
                        {{/each}}
            </div>
</template>
<template name="userItem">
    <div class="col-lg-3">
        <div class="contact-box center-version">

            <a href="profile.html">

                {{>imageControl collection='eZImages' class="img-circle" photo=profile.photo}}


                <h3 class="m-b-xs"><strong>{{fullname}}</strong></h3>

                <div class="font-bold">{{getRoles}}</div>
                <address class="m-t-md">
                    <span class="small label {{formatUserState isActive}}">
                        {{#if isActive}}Active{{else}} Disabled {{/if}}
                    </span><br>
                    <strong>{{company}}</strong><br>
                    <abbr title="Phone">E:</abbr> {{getEmails}}
                </address>

            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a href="#" class="btn btn-white btn-sm manageRoles"><i class="fa fa-user-secret"></i> Roles </a>
                    {{#if canToggleUser}}
                        {{#if isActive}}
                            <a href="#" class="btn btn-white btn-sm toggleUserState"><i class="fa fa-user-times"></i>
                                Disable
                            </a>
                        {{else}}
                            <a href="#" class="btn btn-white btn-sm toggleUserState"><i class="fa fa-key"></i>
                                Activate
                            </a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>

        </div>
    </div>


</template>