<template name="sidebar">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu" style="display: block;">
                    {{#with currentUser}}
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                {{>imageControl class='img-circle' uuid=profile.photo transform="-/scale_crop/48x48/center/" width=48 height=48 collection='eZImages' photoId=profile.photo }}
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{fullname}}</strong>
                                 </span> <span class="text-muted text-xs block">{{role}}<b class="caret"></b></span> </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="{{pathFor 'account'}}">Account</a></li>
                                {{#each unLoggedRoles}}
                                   {{>toggleRoleItem}}
                                {{/each}}
                                <li class="divider"></li>
                                <li><a href="{{pathFor 'atChangePwd'}}">Change Password</a></li>
                                <li class="logout"><a href="#">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            ET+
                        </div>
                    </li>
                    {{/with}}
                    <li>
                        <a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> <span class="nav-label">Home</span><!--<span class="fa arrow"></span>--></a>

                    </li>
                    <li>
                        <a href="{{pathFor 'dashboard'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">My Dashboard</span><!--<span class="fa arrow"></span>--></a>

                    </li>
                    <li>
                        <a href="#"><i class="fa fa-calendar-o"></i> <span class="nav-label">My Loadboard</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{{pathFor 'scheduleList'}}">All loads</a></li>
                            {{#each links}}
                                {{#if this.children.length}}
                                    <li  {{Rp_allow this.permissions}} ><a href="#">{{this.title}}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                    {{#each this.children}}
                                        <li  {{Rp_allow this.permissions}}><a href="{{pathFor 'filteredSchedules'}}">{{this.status}}</a></li>
                                    {{/each}}
                                    </ul>
                                    </li>
                                    {{else}}
                                    <li {{Rp_allow this.permissions}}><a href="{{pathFor 'filteredSchedules'}}">{{this.title}}</a></li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i> <span class="nav-label">EazyTracker</span>
                            <span class="label label-warning pull-right">coming soon</span>
                        </a>

                    </li>
                    <li {{Rp_allow 'canViewTruck,canManageTruck,canManageUsers'}}>
                        <a href="#"><i class="fa fa-archive"></i> <span class="nav-label">My Assets</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li {{Rp_allow 'canViewTruck,canManageTruck'}}><a href="{{pathFor 'truckList'}}">Trucks</a></li>
                            <li {{Rp_allow 'canManageUsers'}}><a href="{{pathFor 'userList'}}">Users</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>
</template>
<template name="toggleRoleItem">
    <li><a href="#" class="toggleRole">log in as {{this}}</a></li>
</template>