<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a href="#" class="pull-left"><img src="/img/ezlogo4.png" height="50px" alt="Eazytrucker logo"/></a>
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <!--<form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                    <div class="form-group">
                        <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                    </div>
                </form>-->

            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">{{currentUser.profile.companyName}}</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-comment"></i>  <span class="label label-warning">{{messages.length}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        {{#each messages}}
                            {{>messageNotifyItem}}
                        {{/each}}
                    </ul>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">{{alerts.length}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        {{#each alerts}}
                            {{>alertItem}}
                        {{/each}}
                        <li>

                            <div class="text-center link-block">
                                <a href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#" class ="logout">
                        <i class="fa fa-sign-out "></i> Log out
                    </a>
                </li>

                <li>
                    <a class="showUserSettings">
                        <i class="fa fa-cog"></i> Settings
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</template>
<template name="alertItem">
    <li>
            <a href="{{link}}">
                <div>
                    <i class="fa fa-bell"></i>{{title}}: {{summarizeText description 30}}
                    <span class="pull-right text-muted small">{{tm_cal createdAt}}</span>
                </div>
            </a>
    </li>
    <li class="divider"></li>

</template>

<template name="messageNotifyItem">
    <li>
        <div class="dropdown-messages-box">
                <div>
                    <span class="fa fa-envelope" ></span>
                    <small class="pull-right">{{tm_now createdAt}}</small>
                        <a href="{{link}}" class="text-muted comment-link">
                            {{summarizeText description 50}}
                        </a>
                    <br>
                    <!--<span class="text-muted small pull-right">@{{identity owner}}</span>-->
                    <span class="text-muted small">{{tm_cal createdAt}}</span>

                </div>

        </div>
    </li>
    <li class="divider"></li>

</template>